
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
}

.nav-menu{
    display: flex;
    flex-direction: column;
}

@media (min-width: 375px){
    .nav-menu{
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px){
    
}