.category-cont{
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    grid-gap: 24px;
    overflow: hidden;
    overflow-x: scroll;
    padding: 0 20px;
}

.footer-section{
    display: flex;
    height: 365px;
    margin: auto 24px;
}

.category-thumbnail{
    width: 200px;
    height: 150px;
    border-radius: 6px;
    background-size: cover;
}

/* Import tipografía*/
.category-title{
    font-size: 14px;
    margin: 12px 0 0 ;
}

.social-media-container{
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}

.icon{
    width: 18px;
    height: 18px;
    background-color: black;
}