.user-cards-cont{
    margin: 30px 0;
    padding: 0 20px;
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    grid-gap: 24px;
    overflow: hidden;
    overflow-x: scroll;
    padding: 0 20px;
}

.user-card-container{
    background-size: contain;
    border-radius: 20px;
    color: white;
    width: 218px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-data{
    height: 80px;
    padding: 15px 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    margin: 1px 0;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    font-size: 15px;
    font-weight: 600;
}

.tags-cont{
    display: flex;
    justify-content: space-between;
}