.cards-main-container{
    margin-bottom: 70px;
}

.product-card-cont{
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    max-width: 100vw;
    margin: 0 20px 38px 20px;
}

.product-card{
    margin-bottom: 10px;
}

.product-thumbnail{
    background-image: url(https://cdn.dribbble.com/userupload/13006921/file/original-5629232….png?resize=1200x900);
    background-size: cover;
    background-position: center;
    height: 251.4px;
    border-radius: 10px;
}

.product-data{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.product-detail{
    display: flex;
    flex-direction: row;
}

.random{
    margin-bottom: 10px;
}

@media (min-width:1080px) {
    .product-card-cont{
        margin: 0 72px 38px 72px;
    }
}